body,
html 
    margin: 0 
    padding: 0
    overflow-x: hidden
    font-family: 'Roboto', sans-serif
    background-image: linear-gradient(0deg, #7cbffa, #0c6bfa)
    background-repeat: no-repeat
    background-size: cover

header 
    text-align: center
    color: white
    font-size: 1.2rem
    h2 
        margin-bottom: -0.5em

#home-container
    padding-top: 2.5em
    position: relative 
    min-height: 100vh 
    margin-left: 2em
    margin-right: 2em

#home-header 
    margin-top: 5em

form 
    display: grid 
    place-items: center
    grid-gap: 1em
    margin-top: 25%
    input[type=text]
        height: 35px 
        width: 250px
        border-radius: 15px
        border: solid white 1px
        padding: 0.5em
        font-size: 1.2rem
    input[type=submit]
        border-radius: 25px
        border: solid white 1px
        background-color: white
        color: black
        padding: 0.5em 1em
        font-size: 1.2rem
        cursor: pointer

#weather 
    display: flex 
    flex-direction: row 
    justify-content: center 
    align-items: center
    gap: 3em
    #icon 
        text-align: center
        img
            height: 120px 
            width: 120px
            margin-bottom: -1em 
    #temp 
        text-align: center
        color: white
        h1 
            margin-bottom: -0.5em

#upcoming-forecast 
    padding-top: 2em
    color: white
    margin-left: 0.5em
    margin-right: 0.5em
    #test
        .days
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: space-around
            align-items: center
            gap: 2.5em
            p 
                font-size: 1.1rem
            img 
                height: 50px
                width: auto

#home-footer 
    position: absolute 
    bottom: 0 
    width: 100%
    height: 2.5rem

footer
    color: white
    text-align: center
    font-size: 0.7rem
    font-style: italic 

.data 
    display: none

/* Tablet Stylesheets */
/* @media only screen and (min-width: 480px) */

/* Desktop Stylesheets */
@media only screen and (min-width: 1025px) 
    header 
        font-size: 1.2rem

    #home-container 
        padding-top: 2.5em
        position: relative 
        min-height: 100vh

    #home-header
        margin-top: 4em

    form
        margin-top: 5%

    #weather 
        display: flex 
        flex-direction: row 
        justify-content: center 
        align-items: center
        gap: 3em
        #icon 
            text-align: center
            img
                height: 150px 
                width: 150px
                margin-bottom: -1em 
        #temp 
            text-align: center
            color: white
            font-size: 1.3rem
            h1 
                margin-bottom: -0.5em

    #upcoming-forecast 
        display: flex 
        flex-direction: row 
        flex-wrap: wrap 
        justify-content: center 
        align-items: center
        gap: 2em
        color: white
        margin-top: 1em
        #dates,
        #temps-section 
            font-size: 1.6rem
            line-height: 1.5
        #icons-section
            display: flex
            flex-direction: column
            .icons 
                width: 64px 
                height: 64px