body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#7cbffa), to(#0c6bfa));
  background-image: linear-gradient(0deg, #7cbffa, #0c6bfa);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

header h2 {
  margin-bottom: -0.5em;
}

#home-container {
  padding-top: 2.5em;
  position: relative;
  min-height: 100vh;
  margin-left: 2em;
  margin-right: 2em;
}

#home-header {
  margin-top: 5em;
}

form {
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-gap: 1em;
  margin-top: 25%;
}

form input[type=text] {
  height: 35px;
  width: 250px;
  border-radius: 15px;
  border: solid white 1px;
  padding: 0.5em;
  font-size: 1.2rem;
}

form input[type=submit] {
  border-radius: 25px;
  border: solid white 1px;
  background-color: white;
  color: black;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  cursor: pointer;
}

#weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}

#weather #icon {
  text-align: center;
}

#weather #icon img {
  height: 120px;
  width: 120px;
  margin-bottom: -1em;
}

#weather #temp {
  text-align: center;
  color: white;
}

#weather #temp h1 {
  margin-bottom: -0.5em;
}

#upcoming-forecast {
  padding-top: 2em;
  color: white;
  margin-left: 1em;
  margin-right: 1em;
}

#upcoming-forecast #forecast-container .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5em;
}

#upcoming-forecast #forecast-container .days p {
  font-size: 1.1rem;
}

#upcoming-forecast #forecast-container .days .icons {
  height: 50px;
  width: auto;
}

#home-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer {
  color: white;
  text-align: center;
  font-size: 0.7rem;
  font-style: italic;
}

.data {
  display: none;
}

/* Tablet Stylesheets */
/* @media only screen and (min-width: 480px) */
/* Desktop Stylesheets */
@media only screen and (min-width: 1025px) {
  header {
    font-size: 1.2rem;
  }
  #home-container {
    padding-top: 2.5em;
    position: relative;
    min-height: 100vh;
  }
  #home-header {
    margin-top: 4em;
  }
  form {
    margin-top: 5%;
  }
  #weather {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3em;
  }
  #weather #icon {
    text-align: center;
  }
  #weather #icon img {
    height: 150px;
    width: 150px;
    margin-bottom: -1em;
  }
  #weather #temp {
    text-align: center;
    color: white;
    font-size: 1.3rem;
  }
  #weather #temp h1 {
    margin-bottom: -0.5em;
  }
  #upcoming-forecast {
    padding-top: 3em;
  }
  #upcoming-forecast #forecast-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
    margin-left: 5em;
    margin-right: 5em;
  }
  #upcoming-forecast #forecast-container .days {
    border: solid white 4px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
    width: 175px;
    height: 175px;
  }
  #upcoming-forecast #forecast-container .days .icons {
    height: 75px;
    width: auto;
  }
  footer {
    margin-top: 15em;
  }
}

/* Big Desktop Stylesheets */
@media only screen and (min-width: 1400px) {
  #upcoming-forecast {
    padding-top: 3em;
  }
  #upcoming-forecast #forecast-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
    margin-left: 10em;
    margin-right: 10em;
  }
  footer {
    margin-top: 30em;
  }
}
/*# sourceMappingURL=styles.css.map */