body 
    margin: 0 
    padding: 0
    overflow-x: hidden

header 
    text-align: center
    h2 
        margin-bottom: -0.5em

#weather 
    display: flex 
    flex-direction: row 
    justify-content: center 
    align-items: center
    gap: 3em
    #icon 
        text-align: center
        img
            height: 120px 
            width: 120px
            margin-bottom: -1em 
    #temp 
        text-align: center
        h1 
            margin-bottom: -0.5em

#upcoming-forecast 
    display: flex 
    flex-direction: row 
    flex-wrap: wrap 
    justify-content: center 
    align-items: center
    gap: 3em
    #dates,
    #temps-section 
        font-size: 1.2rem
        line-height: 1.5
    #icons-section
        display: flex
        flex-direction: column
        .icons 
            width: 48px 
            height: 48px